.btn{
    color: white;
    border-radius: 4px;
}
.colorInformation{
    color: red;
}
.titreParis{
    text-align: center;
    margin-bottom: 50px;
}

.display-none{
    display: none;
}

.logoCompetition{
    background-image: url("../img/ligue1.png");
    width: 700px;
    height: 200px;
}

.validationPari{
    width: 700px;
}

#encadreValidationPari{
    margin-top: 20px;
    width: 50%;
    border: 2px solid darkred;
    border-radius: 3px;
    padding: 10px;
    width: 500px;
    height: 250px;
}

#encadreConnection{
    display: none;
    margin-top: 20px;
    width: 49%;
    border: 2px solid darkred;
    padding: 10px;
}

.spanMise{
    margin-left: 70px;
}
#miseInput{
    width: 100px;
}

.btn-submit-paris{
    background-color: darkred;
    width: 130px;
    height: 30px;
    float: right;
}

.btn-submit-connection{
    font-weight: bold;
    background-color: #3F3F3F;
    width: 100px;
    height: 30px;
}

.modal{
    display: none;
    background-color: white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #D3D3D3;
    border-radius: 4px;
    z-index: 1;
}

.teamA:after{
    content: " - ";
}
@media only screen and (max-width: 320px){

    .modal2{
        width: 300px;
        height: 350px;
    }
    #encadreValidationPari{
        width: 300px;
        height: 350px;
    }

    .spanMise{
        margin-left: 0;
        display: block;
    }
    .submitButton{
        display: block;
        float: none;
        margin: 0;
        padding: 0;
    }
}

#loginModal, #passwordModal{
    border-radius: 3px;
    margin-bottom: 5px;
}